@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    /* background-color: lightcoral; */
    box-shadow: 0 0 11px 1px rgba(0, 0, 0, 0.2);
}

nav .icon-title {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    /* background-color: lightblue; */
    margin: 0 50px;
}

nav .left-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    /* background-color: lightblue; */
}

.left-div ul {
    display: flex;
    gap: 24px;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* INFO MOBILE */
.info-main-mobile {
    width: 100vw;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: lightblue; */
}

.info-main-mobile .title-info img {
    width: 100vw;
    padding: 2px;
}

.title-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-bottom: 1px solid gray;
}

.title-info h1 {
    font-family: 'AR One Sans', sans-serif;
    font-weight: bold;
    padding: 10px;
}

.title-info p {
    font-family: 'Roboto Condensed';
    padding: 10px;
}

.title-info button {
    width: 130px;
    margin: 12px 7px;
    height: 40px;
    background: rgb(255,0,9);
    background: linear-gradient(144deg, rgba(255,0,9,1) 0%, rgba(87,16,31,1) 100%);
    color: #fff;
    border: none;
    box-shadow: 0 0 11px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

article {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
    padding: 2px;
}

article .shoes {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
}

.shoes .card {
    padding: 4px 1px;
}

.shoes p:nth-child(2) {
    font-family: 'AR One Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.shoes p:nth-child(3) {
    font-size: 13px;
    margin-top: 7px;
}

.text h1 {
    font-family: 'AR One Sans', sans-serif;
    padding: 0 8px;
}

.shoes img {
    width: 100%;
    border-radius: 3px;
}
/* INFO MOBILE */


/* INFO DESKTOP */
.info-main-desktop {
    width: 100vw;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: rgb(243, 241, 241);
    margin-top: 10px;
    gap: 10px;
}

.side-left {
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    width: 500px;
}

.side-left .left-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 310px;
    /* background-color: lightblue; */
    gap: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.639);
}

.left-top h1 {
    font-size: 40px;
}

.left-top p {
    padding-right: 20px;
}

.left-top button {
    width: 130px;
    margin: 12px 7px;
    height: 40px;
    background: rgb(255,0,9);
    background: linear-gradient(144deg, rgba(255,0,9,1) 0%, rgba(87,16,31,1) 100%);
    color: #fff;
    border: none;
    box-shadow: 0 10px 15px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.left-top button:hover {
    color: rgb(226, 10, 10);
    background: white;
}

.side-left .left-bottom {
    /* background-color: lightcoral; */
    display: flex;
    flex-direction: column;
}

.left-bottom .title {
    display: flex;
    justify-content:flex-start;
    margin-bottom: 15px;
    margin-left: 30px;
    font-family: 'AR One Sans', sans-serif;
    /* background-color: lightcoral; */
}

.left-bottom .images {
    display: flex;
    gap: 20px;
    justify-content: center;
    /* background-color: aqua; */
}

.image p:nth-child(2) {
    font-weight: bold;
}

.image img {
    max-width: 200px;
    max-height: 240px;
    border-radius: 5px;
}

.side-right {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(238, 255, 0); */
}

.side-right img {
    width: 450px;
    /* width: 350px; */
    /* height: 250px; */
    transform: rotate(20deg);
}

/* INFO DESKTOP */


/* // Medium Only */
@media screen and (min-width: 20em) {
    .mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .desktop {
        display: none;
    }

    .info-main-mobile {
        display: flex;
    }

    .info-main-desktop {
        display: none;
    }
}

/* // Large and Up */
@media screen and (min-width: 1024px) {
    .desktop {
        display: flex;
        justify-content: space-between;
    }

    .left-div {
        margin: 0 40px;
    }

    .mobile {
        display: none;
    }

    .info-main-mobile {
        display: none;
    }

    .info-main-desktop {
        display:flex;
    }
}
    

@media screen and (min-width: 1440px) {
    .side-right img {
        width: 650px;
    }
}